@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

*::selection {
  background-color: #fed7aa;
  color: #ae58ff;
}

span::selection {
  background-color: rgba(139, 255, 160, 0.853) !important;
}

code::selection {
  background-color: rgba(139, 255, 160, 0.853) !important;
}

a::selection {
  background-color: rgba(139, 255, 160, 0.853) !important;
}

img::selection {
  background-color: #c6c6c642;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 0px;
  border: none;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #666666;
}

* {
  box-sizing: border-box;
  margin: 0;
}